body,
html {
    height: 100%;
    margin: 0;
}

/*IMAGE CSS*/
.bg {
    /* The image used */
    background-image: url("images/bg.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*HEADING CSS*/

.container .h1 {
    color: #fff;
    /*   -webkit-text-stroke-width:1px;
   -webkit-text-stroke-color:#000; */
    font-size: 50px;
    font-family: serif;
    margin-bottom: 30px;

}

/*TAG'S CSS*/
.text-main code {
    padding: 5px;
    margin: 3px;
    color: #fff;
    background-color: black;
    font-size: 15px;

}

.button {

    margin-top: 35px;

}

.button .btn {
    margin-left: 10px;
    color: #494949;
    background-color: #ffffff;
    border: 2px solid #494949;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;

}

.button a:hover {
    text-decoration: none;
}

.button a:focus {
    text-decoration: none;
}


.button .btn:hover {

    border: none;
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b;
    transition: all 0.4s ease 0s;
-webkit-box-shadow: 0px 0px 53px 15px rgba(255,255,255,0.76);
-moz-box-shadow: 0px 0px 53px 15px rgba(255,255,255,0.76);
box-shadow: 0px 0px 53px 15px rgba(255,255,255,0.76);
}

.footer {
    color: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer h4 {
    font-weight: 600;
    font-size: 12px;
}


/*MEDIA QUERYS*/
@media only screen and (max-width: 768px) {

    /* For mobile phones: like galaxy 5, iphone x,realme 5 etc */
    .bg {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    img {
        width: 150px;
    }

    .container .h1 {
        font-size: 40px;
    }

    .text-main code {
        font-size: 16px;

    }

    .button .btn {
        padding: 5px;
        display: block;
        font-size: 16px;
        margin-bottom: 6px;
        width: 40%;

    }


}






@media only screen and (max-width: 330px) {

    /* For mobile phones: like ipnone 5s iphone 5c etc */
    .bg {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    img {
        width: 90px;
    }

    .container .h1 {
        font-size: 25px;
    }

    .text-main code {
        font-size: 14px;

    }
}

@media only screen and (max-width: 299px) {

    /* For mobile phones: smaller then 299px */
    .bg {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    img {
        width: 90px;
    }

    .container .h1 {
        font-size: 25px;
    }

    .text-main code {
        font-size: 12px;

    }
}